.problem {
	-fx-background-image: url('../Images/closed_door.jpg');
}

.problem:hover {
	-fx-background-image: url('../Images/open_door.jpg');
}

.selector {
	-fx-background-color: Blue;
	
}
.root {
	-fx-background-color:
		linear-gradient(#55D2F2, #F2BD55);
		}